@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Marcellus&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


html {
  margin-right: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f5f4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
  color: #161e2d;
  
}

img {
  max-width: 100%;
  height: auto;
  transform: scale(1);
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row > * {
  padding-left: 15px;
  padding-right: 15px;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.center {
  text-align: center;
}

.container3 {
  max-width: 1579px;
}

.container2 {
  max-width: 1110px;
}

.container {
  max-width: 1320px;
}

.container3,
.container2,
.container {
  width: 100%;
  margin: auto;
}

.container3,
.container2,
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.container-full {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.container-full .tf-sw-result {
  margin-right: 0px;
}

.cus-layout-1 {
  width: calc(100vw - (100vw - 1290px) / 2);
  margin-right: unset !important;
  max-width: 100%;
  margin-left: auto;
}


.flat-title-page.blog_single_top {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.flat-title-page.blog_single_top::before {
  background-color: transparent;
}

/* Placeholder color */

::-webkit-input-placeholder {
  color: #a3abb0;
}

:-moz-placeholder {
  color: #a3abb0;
}

::-moz-placeholder {
  color: #a3abb0;
  opacity: 1;
}

.error {
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/* Since FF19 lowers the opacity of the placeholder by default */

:-ms-input-placeholder {
  color: #8a8aa0;
}

.p-12 {
  font-size: 12px;
  line-height: 18px;
}

.p-16 {
  font-size: 16px;
  line-height: 26px;
}

/* Typography
-------------------------------------------------------------- */

.title-large,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-rendering: optimizeLegibility;
  color: #161e2d;
}

.title-large {
  font-size: 80px;
  line-height: 88px;
  font-weight: 800;
}

h1 {
  font-size: 56px;
  line-height: 68px;
}

h2 {
  font-size: 44px;
  line-height: 62px;
}

h3 {
  font-size: 36px;
  line-height: 44px;
}

h4 {
  font-size: 30px;
  line-height: 42px;
}

h5 {
  font-size: 24px;
  line-height: 30px;
}

h6 {
  font-size: 18px;
  line-height: 25.2px;
}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
  color: #161e2d;
}

a:focus,
a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  outline: 0;
}

label {
  font-weight: 600;
}

.link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link:hover {
  color: #2f4f3f !important;
}

.h7 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.body-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.body-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.text-btn {
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 600;
}

.text-1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
}

.text-2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.text-3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.caption-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.caption-2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.text-subheading {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.text-subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.fw-1 {
  font-weight: 100 !important;
}

.fw-4 {
  font-weight: 400 !important;
}

.fw-5 {
  font-weight: 500 !important;
}

.fw-6 {
  font-weight: 600 !important;
}

.fw-7 {
  font-weight: 700 !important;
}

.fw-8 {
  font-weight: 800 !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-26 {
  font-size: 26px;
}

.fs-30 {
  font-size: 30px;
}

.fs-40 {
  font-size: 40px;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.text-primary {
  color: #2f4f3f !important;
}

.text-danger {
  color: #c72929 !important;
}

.text-black {
  color: #161e2d !important;
}

.text-black-2 {
  color: #1c1c1e;
}

.text-black-3 {
  color: #3a3a3c;
}

.text-black-4 {
  color: #000000;
}

.text-white {
  color: #ffffff !important;
}

.text-success {
  color: #198754 !important;
}

.text-variant-1 {
  color: #5c6368;
}

.text-variant-2 {
  color: #a3abb0;
}

.text-variant-3 {
  color: #8e8e93;
}

.bg-surface {
  background-color: #f7f7f7;
}

.bg-primary {
  background-color: #2f4f3f;
}

.bg-primary-new {
  background-color: #f1f1f1;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mx-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.pt-26 {
  padding-top: 26px;
}

.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-30 {
  padding-bottom: 30px;
}

.round-8 {
  border-radius: 8px;
}

.round-12 {
  border-radius: 12px;
}

.round-30 {
  border-radius: 30px;
}

.o-hidden {
  overflow: hidden;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.gap-0 {
  gap: 0 !important;
}

.gap-4 {
  gap: 4px !important;
}

.gap-6 {
  gap: 6px !important;
}

.gap-8 {
  gap: 8px;
}

.gap-9 {
  gap: 9px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.pt-0 {
  padding-top: 0px !important;
}

.line-b {
  border-bottom: 1px solid #e4e4e4;
}

.line-t {
  border-top: 1px solid #e4e4e4;
}

.line {
  border: 1px solid #e4e4e4 !important;
}

.no-line {
  border: 0 !important;
}

.text-line-clamp-1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.text-line-clamp-2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.tf-grid-layout {
  display: grid;
  column-gap: 15px;
  row-gap: 30px;
}

.tf-grid-layout .flat-blog-item {
  margin-bottom: 0;
}

.cus-layout-left {
  width: calc(100vw - (100vw - 1720px) / 2);
  max-width: 100%;
  margin-left: unset;
  margin-right: auto;
}

.radius-30 {
  border-radius: 30px;
  overflow: hidden;
}

.shadow-1 {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.0784313725);
}

.shadow-2 {
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.1019607843);
}

.shadow-3 {
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1019607843);
}

.list-default {
  padding-left: 15px;
}

.list-default li {
  list-style: disc;
}

.round-toggle {
    width: 50px !important;
    height: 50px !important;
    background: #fff;
    border: 1px solid #e2e6f0;
    box-sizing: border-box;
    border-radius: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    display: inline-block;
    text-align: center;
    line-height: 50px;
    transition: 0.2s all ease-in;
    color: #2f4f3f;
}
.swiper-button-next.round-toggle {
    right: -25px;
    pointer-events: inherit;
}
.swiper-button-prev.round-toggle {
    left: -25px;
    pointer-events: inherit;
}
.slider_new .round-toggle {
    color: #2f4f3f;
}
.swiper-button-next.round-toggle svg, .swiper-button-prev.round-toggle svg {
    width: 18px;
    height: 18px;
    color: #2f4f3f;
}
.box-title {
    margin-bottom: 30px;
}
.box-title .title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
.slider_control {
    position: relative;
}